.specialty-container {
    background-color: #f19007;
    text-align: center;
    padding: 20px;
}

.section-header {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.section-subheader {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.subtopics {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.subtopic {
    width: 30%; /* Adjust width based on desired layout */
    margin-bottom: 20px;
    position: relative; /* Ensure relative positioning for containing absolutely positioned image */
    text-align: left; /* Align subtopic content to the left */
}

.subtopic h3 {
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
    margin-left: 70px;
}

.subtopic-image {
    width: 100%; /* Ensures the image occupies full width of its container */
    height: 200px; /* Set a fixed height for consistent image heights */
    object-fit: cover; /* Ensure image covers the specified dimensions */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subtopic-description {
    font-size: 14px;
    color: white;
}
.subtopic-button {
    background-color: rgba(0, 123, 255, 0); /* Transparent background */
    color: white;
    border: 1px solid white; /* Black border */
    padding: 12px 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
    margin-left: 70px;
}
.subtopic-button:hover {
    background-color: #536535;
}
@media (max-width: 768px) {
    .subtopics {
      flex-direction: column; /* Stack subtopics vertically on small screens */
      align-items: center; /* Center align subtopics horizontally */
    }
  
    .subtopic {
      width: 100%; /* Make subtopics full width on small screens */
      margin-bottom: 10px; /* Reduce margin for better spacing */
      text-align: center; /* Center align subtopic content */
    }
  
    .subtopic h3, .subtopic-description, .subtopic-button {
      margin-left: 0; /* Remove left margin for centered content */
    }
  }



