/* General Styles */
.subscribers-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
  padding: 20px;
  position: relative;
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.left-right{
    z-index: 2;
    top: 0; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
}

.left-content, .right-content {
  width: 60%;
  z-index: 2;
  padding: 20px;
}

.left-content h2, .right-content h4 {
  margin: 0 0 20px 0;
}

.separator-line {
  border: 1px solid #fff;
  width: 48%;
  margin: 10px 0;
}

.subscription-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.subscription-form input,
.subscription-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}

.subscription-form button {
  width: 100%;
  padding: 10px;
  background-color: #536535;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* margin-top: 0; */
}

.subscription-form button:hover {
  background-color: #9bc25c;
}

/* Media Queries */
@media (max-width: 1024px) {
    .subscribers-container {
        height: 65vh;
    }
}
@media (max-width: 768px) {
  .subscribers-container {
    flex-direction: column;
    align-items: center;
    height: 75vh;
    padding: 20px;
  
  }

  .left-content, .right-content {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .separator-line {
    margin: 20px auto;
  }

  .subscription-form {
    justify-content: flex-start;
  }

  .subscription-form button {
    margin-top: 10px;
  }
}

@media (max-width: 400px) {
  .subscribers-container {
    font-size: x-small;
    padding: 0;
    margin: 0;
    height: 90vh;
  }
}
