.additional-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #536535; 
  color: #ffffff;
  padding: 40px;
  position: relative; 
  font-family: poppins;
}

.left-section {
  width: 40%; 
}

.right-section {
  width: 55%; 
  padding-left: 20px;
  
}
.price{
  margin-left: 80px;
}
.through{
  margin-left: 35px;
}
.journey{
  margin-left: 80px;
}

.separator {
  position: absolute;
  top: 20px; 
  bottom: 20px; 
  left: 40%; 
  width: 2px; 
  background-color: #ffffff; 
}

.subtitle {
  font-size: 35px;
  font-style: italic;
  margin-bottom: 20px;
}

h2 {
  font-size: 36px; 
  padding-bottom: 10px; 
  margin-bottom: 20px; 
}

p {
  font-size: 18px; 
  margin-bottom: 10px; 
}

.client-say-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff; 
  border-radius: 5px;
  cursor: pointer;
  margin-top: 40px;
}

.client-say-button:hover {
  background-color: #ffffff;
  color: #4B850D;
}

/* Media Queries */
@media (max-width: 768px) {
  .additional-content {
    flex-direction: column; 
    align-items: flex-start;
    padding: 20px;
  }
  
  .left-section,
  .right-section {
    width: 100%; 
  }
  
  .separator {
    display: none; 
  }
  
  .client-say-button {
    margin-top: 20px; 
  }
}

@media (max-width: 540px) {
  h2,
  .subtitle {
    font-size: 28px; 
  }
  
  p {
    font-size: 16px; 
  }
}