/* Base styles for .clients-container */
.clients-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 70vh;
  background-image: url('/public/images/dubai5.jpg');
  background-size: cover;
  background-position: center;
  opacity: 1;
}

.clients-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: #fff;
  margin-left: -1px; /* Adjusted for centering */
}

/* Base styles for .content-overlay */
.content-overlay {
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  color: #fff;
  margin-top: 70px; /* Ensure this margin is sufficient to prevent overlap with navbar */
}

/* Navigation arrows */
.navigation-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navigation-arrow:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.navigation-arrow.previous {
  left: 60px;
}

.navigation-arrow.next {
  right: 60px;
}

/* Testimonial and client details */
.left-content,
.right-content {
  flex: 1;
  text-align: left;
}

.testimonial {
  margin-bottom: 20px;
}

.testimonial p {
  text-align: left;
}

.client-details {
  margin-top: 10px;
  font-size: 14px;
  margin-left: 25px;
}

/* Read more button */
.read-more-button {
  background-color: transparent;
  color: white;
  border: 3px solid #f89d1b;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.read-more-button:hover {
  background-color: rgba(0, 123, 255, 0.1);
}

/* Testimonial navigation dots */
.testimonial-navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 10px;
}

.navigation-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.5;
  cursor: pointer;
}

.navigation-dot.active {
  opacity: 1;
}

/* Media queries */
@media (max-width: 1024px) {
  .content-overlay {
    padding: 30px;
  }

  .left-content,
  .right-content {
    flex: 1.5;
  }

  .client-details {
    margin-left: 15px;
  }

  .testimonial-navigation {
    margin-left: 0;
  }

  .clients-container::after {
    display: none; /* Hide white line */
  }
}

@media (max-width: 768px) {
  .content-overlay {
    padding: 15px;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .left-content,
  .right-content {
    flex: 100%;
    text-align: center;
  }

  .testimonial {
    margin-bottom: 10px;
  }

  .testimonial-navigation {
    margin: 0 auto;
    bottom: 10px;
  }

  .clients-container::after {
    display: none; /* Hide white line */
  }
}

