/* Base Styles */
.clients-container {
  /* position: relative; */
  overflow: hidden;
  width: 100%;
  max-height: 60vh;
  background-size: cover;
  background-position: center;
  opacity: 1;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.clients-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: #fff;
  margin-left: -1px;
}

.content-overlay {
  /* position: relative; */
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
  color: #fff;
  margin-top: 30px;
}

.navigation-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navigation-arrow:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.navigation-arrow.previous {
  left: 60px;
}

.navigation-arrow.next {
  right: 60px;
}

.left-content {
  background: rgba(0, 0, 0, 0.26) 80%;
}

.right-content {
  max-height: 15rem;
  background: rgba(0, 0, 0, 0.322) 80%;
}


.testimonial {
  margin-bottom: 20px;
}

.testimonial p {
  text-align: left;
}

.client-details {
  margin-top: 10px;
  font-size: 14px;
  margin-left: 25px;
}

.read-more-button {
  background-color: transparent;
  color: white;
  border: 3px solid #f89d1b;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.read-more-button:hover {
  color: #f89d1b;

}

.testimonial-navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 10px;
}

.navigation-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.5;
  cursor: pointer;
}

.navigation-dot.active {
  opacity: 1;
}

/* Media Queries */

/* Medium Screens (Tablets in Landscape) */
@media (max-width: 1024px) {
  .content-overlay {
    padding: 10px;
  }

  .left-content,
  .right-content {
    flex: 1.5;
  }

  .client-details {
    margin-left: 15px;
  }

  .testimonial-navigation {
    margin-left: 0;
  }

  .clients-container::after {
    display: none;
  }
}

/* Small Screens (Tablets in Portrait) */
@media (max-width: 768px) {
  .content-overlay {
    padding: 5px;
    width: 100%;
  }

  .left-content,
  .right-content {
    flex: 100%;
    text-align: center;
  }

  .testimonial {
    margin-bottom: 10px;
  }

  .testimonial-navigation {
    margin: 0 auto;
    bottom: 10px;
  }

  .clients-container::after {
    display: none;
  }
}

/* Extra Small Screens (Mobile Phones) */
@media (max-width: 480px) {
  .content-overlay {
    display: flex;  
    
  }

  .left-content,
  .right-content {
    flex: 1;
    text-align: center;
    margin-top: 5px;
    font-size: small;
    font-weight: lighter;
    width: 70%;
  }

  .read-more-button {
    padding: 8px 15px;
  }

  .testimonial-navigation {
    bottom: 5px;
  }

  .testimonial {
    margin-bottom: 5px;
  }

}