.destinations-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 100vh; 
}

.destinations-left {
    width: 30%; 
    left: 50;
    position: relative;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    height: 100%; 
}

.destinations-left img {
    width: 110%;
    height: 102.1%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; 
}

.destinations-right {
    width: 20%; 
    position: relative;
    height: 70vh;
    left: 0;
}

.destinations-center {
    width: 55%; 
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: medium;
}

.destinations-top, .destinations-bottom {
    display: flex;
    font-size: medium;
}

.destinations-image-with-content {
    width: 48%;
    position: relative;
    overflow: hidden; 
}

.destinations-image-with-content img {
    width: 100%;
    height: 100%;
    display: block;
}

.destinations-content {
    position: absolute;
    z-index: 1;
    width: 35%;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    color: white;
    padding: 10px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    font-weight: 300;
}

.destinations-image-with-content h2 {
    font-weight: 300; 
    color: #f0f0f0; 
}

.destinations-image-with-content h2 {
    font-size: 1.2rem; 
}

.destinations-left .destinations-content h2,
.destinations-right .destinations-content h2 {
    font-weight: 300; 
    color: #f0f0f0; 
}

.destinations-left .destinations-content {
    width: 60%;
}

.destinations-bordered-content h2 {
    margin-top: 0;
    font-weight: 300; 
    color: #333; 
    font-size: 1.2rem; 
}

.destinations-right img {
    width: 90%; 
    height: auto;
    display: block;
    position: relative;
}

.destinations-bordered-content {
    border: 2px dotted #ccc;
    padding: 20px;
    background-color: white;
    text-align: center;
    position: absolute;
    top: 0;
    left: -26px;
    right: 20px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 407px;
}

.destinations-bordered-content img {
    width: 50px;
    margin-bottom: 20px;
}

.destinations-countdown {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    margin-top: 20px; 
}

.destinations-countdown-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 80px; 
    height: 80px; 
}

.destinations-countdown-number {
    font-size: 1.5rem; 
    font-weight: bold;
    color: #333; 
}

.destinations-countdown-label {
    font-size: 0.875rem; 
    color: #666; 
}

.destinations-image-with-content:hover .destinations-content {
    bottom: 10%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.9) 100%);
    font-weight: 300; 
}


@media (max-width: 1024px) {
    .destinations-left {
        width: 40%; 
    }

    .destinations-right {
        width: 20%;
    }

    .destinations-center {
        width: 50%; 
    }

    .destinations-content {
        width: 50%;
    }

    .destinations-countdown {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2, 1fr); 
    }
}

@media (max-width: 768px) {
    .destinations-container {
        flex-direction: column;
        height: auto;
    }

    .destinations-left, .destinations-right, .destinations-center {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .destinations-content {
        width: 100%;
        padding: 5px; 
    }

    .destinations-left img {
        height: auto; 
    }

    .destinations-right {
        height: auto; 
        position: static;
        margin-bottom: 10px; 
    }

    .destinations-bordered-content {
        padding: 10px; 
        font-size: 0.875rem; 
        height: auto; 
    }

    .destinations-countdown {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2, 1fr); 
    }

    .destinations-countdown-box {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .destinations-content {
        font-size: 0.875rem; 
    }

    .destinations-countdown-number {
        font-size: 1rem; 
    }

    .destinations-countdown-label {
        font-size: 0.75rem; 
    }

    .destinations-countdown {
        grid-template-columns: repeat(2,1fr); 
        grid-template-rows: repeat(4, 1fr); 
    }
}
