.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.1s ease;
}

.slide {
  position: relative;
  flex: 0 0 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden; /* Ensure overflow is hidden for the slide */
}

.overlay {
  position: absolute;
  bottom: 20px; /* Adjusted to bring the overlay closer to the bottom */
  left: 20px; /* Adjusted for better placement */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background for better contrast */
  padding: 20px; /* Increased padding for better readability */
  border-radius: 10px; /* Increased border radius */
  animation: slideInText 0.5s ease forwards; /* Apply animation to slide in text */
  z-index: 10; /* Ensure overlay is above the image */
}

.overlay-text {
  color: #ffffff; /* White text for better contrast */
  font-size: 24px; /* Adjusted font size */
  font-weight: bold; /* Bold text for better readability */
  width: 100%; /* Adjust width as needed */
  margin: 0; /* Reset margin */
}

.navigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 20; /* Ensure navigation is above the overlay and images */
}

.navigation button {
  background-color: rgba(255, 255, 255, 0.5); /* White transparent color */
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  border-radius: 5px;
  height: 100px;
  margin-top: 30px;
  color: #000000; /* Changed to black for better contrast on white background */
}

.navigation button:hover {
  background: rgba(255, 255, 255, 0.8); /* Slightly less transparent on hover */
}

/* Animation keyframes */
@keyframes slideInText {
  from {
    transform: translateX(-100%); /* Slide in from the left */
  }
  to {
    transform: translateX(0); /* Slide to the original position */
  }
}

/* Media Queries */
@media (max-width: 540px) {
  .overlay {
    left: 20px; /* Adjust overlay position for smaller screens */
    bottom: 150px; /* Adjust overlay position for smaller screens */
  }
  
  .navigation button {
    font-size: 20px; /* Reduce button font size for smaller screens */
    height: 80px; /* Reduce button height for smaller screens */
  }
}

@media (max-width: 414px) {
  /* Add more specific styles for even smaller screens as needed */
  .overlay-text {
    font-size: 20px; /* Adjust font size for smaller screens */
  }
}
