.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.carousel {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease;
  position: relative;
}

.slide {
  flex: 0 0 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative; /* Ensure slide is positioned relative to place text */
}

.slide-text {
  position: absolute;
  bottom: 20px;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for text visibility */
  color: rgba(255, 255, 255, 0.8); /* Lighter text color */
  font-size: 24px;
  font-weight:300;
  z-index: 1000;
  text-align: center; /* Center text */
  width: 80%; /* Adjust width as needed */
}


.navigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  z-index: 20;
}

.navigation button {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  border-radius: 5px;
  color: #000000;
  height: 100px;
}

.navigation button:first-child {
  order: 1;
}

.navigation button:last-child {
  order: 2;
  margin-left: 60px;
}

.navigation button:hover {
  background: rgba(255, 255, 255, 0.8);
}

@media (max-width: 414px) {
  .slide-text {
    font-size: 18px;  /* Adjust font size for better readability */
    padding: 15px;  /* Reduce padding for smaller viewports */
  }

  .navigation button {
    font-size: 18px;  /* Adjust font size for buttons */
    height: 60px;  /* Reduce button height */
  }
}
