.navbar {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.upper {
  background-color: #536535;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: none;
}

.contact-info {
  color: white;
}

.social-links a {
  color: white;
  margin: 0 10px;
}

.lower {
  background-color: #FFFB73;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logos {
  display: flex;
  align-items: center;
  gap: 0;
}

.left-image img {
  width: 10vw; 
  height: 5vw;
  margin-right: 10px;
  margin-top: 10px;
}

.right-image img {
  width: 6vw; 
  max-height: 6vw;
  margin-right: 10px;
}

.navigation-links {
  display: flex;
  align-items: center;
}

.navigation-links a {
  margin: 0 15px;
  color: #536535;
  text-decoration: none;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: rgba(255, 255, 255, 0.274);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-weight: lighter;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: white;
  padding: 8px 12px; 
  text-decoration: none;
  display: block;
  font-weight: 300;
  font-size: 13px; 
}

.dropdown-content a:hover {
  background-color: #536535;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: #f19007;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1001;
}

.mobile-menu a {
  padding: 10px 20px;
  color: #536535;
  text-decoration: none;
  display: block;
}

.mobile-menu .dropdown-content {
  position: static;
  box-shadow: none;
  background-color: #f19007;
}

.button-link {
  background: none;
  color: #536535;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0 15px;
  position: relative;
}

.button-link:hover,
.button-link:focus {
  text-decoration: underline;
}

.button-link::after {
  content: '\2303'; /* Unicode for upward-facing arrow */
  margin-left: 5px;
  transition: transform 0.3s;
  display: inline-block;
  transform: rotate(0deg); /* Initial rotation is 0 degrees */
}

.button-link.open::after {
  transform: rotate(180deg);
}



@media (max-width: 768px) {
  .button-link {
    display: block;
    padding: 10px 20px;
  }
  
  .navigation-links {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .mobile-menu {
    display: flex;
  }
}
