/* General Styles */
body {
  /* font-family: Arial, sans-serif; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
}

/* body.menu-active {
  overflow: hidden; 
} */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1500;
  /* background-color: white; */
}

.upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #536535;
}

.hidden {
  display: none;
}

.contact-info span {
  font-size: 0.875rem;
  color: #fff;
}

.social-links a {
  margin-left: 10px;
  color: #333;
  font-size: 1rem;
  color: #fff;
}

.lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #FFFB73;
}

.logos {
  display: flex;
  align-items: center;
  gap: 0;
}

.left-image img, .right-image img {
  height: 50px;
  margin-right: 10px;
}

.navigation-links {
  display: flex;
  align-items: center;
  margin-left: auto;
  transition: max-height 1s ease-in-out;
}

.navigation-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #536535;
  font-size: 1rem;
  font-weight: bold;
}

.navigation-links .dropdown {
  position: relative;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: #536535;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 200px;
  background-color: #536535;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-content li a {
  display: block;
  padding: 10px 10px;
  color: #fff;
  background-color: #536535;
  text-decoration: none;
  border-bottom: 1px solid #ddddddfd;
}

.dropdown-content li a:hover {
  background-color: #f1f1f14b;
}

.dropdown .open + .dropdown-content {
  display: block;
}

.hamburger-menu {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #FFFB73;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1600;
}

.mobile-menu a {
  padding: 10px 20px;
  text-decoration: none;
  color: #536535;
  font-weight: bolder;
  border-bottom: 1px solid #ddd;
}

.mobile-menu .dropdown {
  position: relative; /* Ensure dropdown content is positioned relative to its parent */

}

/* .mobile-menu .dropdown-content {
  position: relative;
  box-shadow: none;
} */

.mobile-menu .dropdown-content {
  position: static; /* Remove absolute positioning */
  margin-top: 0; /* Remove any margins */
  box-shadow: none; /* Optional: remove shadow for a flat appearance */
  background-color: #dddddddc; 
}

.navigation-links {
  display: flex;
  gap: 25px;
  font-size: larger;
}

@media (max-width: 767px) {
  .navigation-links {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    animation: sweep-in 0.5s ease-out;
  }



  .mobile-menu .dropdown-content {
    display: none;
  }

  .mobile-menu .dropdown .open + .dropdown-content {
    display: block;
  }

  .mobile-menu.active {
    display: flex;
    z-index: 5000;
  }

  @keyframes sweep-in {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}